<p>Hey {{name}},</p>
<p>Here are your credentials for UpLearn:</p>

<ul>
  <li>Username: {{username}}</li>
  <li>Password: {{password}}</li>
</ul>

<p>If you did not request this email you can safely ignore it.</p>